// @import './variables';
$icon-color-light: gray;
$icon-color-dark: gray;

$disabled-path: 'M17,13H7V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z';
$disabled-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $disabled-path +"' /%3E%3C/svg%3E");
$disabled-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $disabled-path +"' /%3E%3C/svg%3E");


.icon-disabled {
    &.icon-xlg {
        content: $disabled-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $disabled-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $disabled-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $disabled-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="disabled.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $disabled-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $disabled-image-light;
        content: $disabled-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $disabled-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $disabled-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $disabled-image-dark;
    }
    .icon-disabled {
        &.icon-xlg {
            content: $disabled-image-dark;
        }
        &.icon-lg {
            content: $disabled-image-dark;
        }
        &.icon-md {
            content: $disabled-image-dark;
        }
        &.icon-sm {
            content: $disabled-image-dark;
        }
    }
    img[src$="disabled.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $disabled-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $disabled-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $disabled-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $disabled-image-dark;
        }
    }

}