@import './variables';

$credentials-system-store-path: 'M4,4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8A2,2 0 0,0 20,6H12L10,4M11,10C12.31,10 13.42,10.84 13.83,12H19V14H18V16H16V14H13.83C13.42,15.17 12.31,16 11,16A3,3 0 0,1 8,13A3,3 0 0,1 11,10M11,12A1,1 0 0,0 10,13C10,13.56 10.45,14 11,14A1,1 0 0,0 12,13A1,1 0 0,0 11,12Z';
$credentials-system-store-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $credentials-system-store-path +"' /%3E%3C/svg%3E");
$credentials-system-store-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $credentials-system-store-path +"' /%3E%3C/svg%3E");


.icon-credentials-system-store {
    &.icon-xlg {
        content: $credentials-system-store-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $credentials-system-store-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $credentials-system-store-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $credentials-system-store-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="credentials-system-store.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $credentials-system-store-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $credentials-system-store-image-light;
        content: $credentials-system-store-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $credentials-system-store-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $credentials-system-store-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $credentials-system-store-image-dark;
    }
    .icon-credentials-system-store {
        &.icon-xlg {
            content: $credentials-system-store-image-dark;
        }
        &.icon-lg {
            content: $credentials-system-store-image-dark;
        }
        &.icon-md {
            content: $credentials-system-store-image-dark;
        }
        &.icon-sm {
            content: $credentials-system-store-image-dark;
        }
    }
    img[src$="credentials-system-store.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $credentials-system-store-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $credentials-system-store-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $credentials-system-store-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $credentials-system-store-image-dark;
        }
    }

}