@import './variables';

$pause-path: 'M14,19H18V5H14M6,19H10V5H6V19Z';
$pause-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $pause-path +"' /%3E%3C/svg%3E");
$pause-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $pause-path +"' /%3E%3C/svg%3E");


.icon-pause {
    &.icon-xlg {
        content: $pause-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $pause-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $pause-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $pause-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="pause.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $pause-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $pause-image-light;
        content: $pause-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $pause-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $pause-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $pause-image-dark;
    }
    .icon-pause {
        &.icon-xlg {
            content: $pause-image-dark;
        }
        &.icon-lg {
            content: $pause-image-dark;
        }
        &.icon-md {
            content: $pause-image-dark;
        }
        &.icon-sm {
            content: $pause-image-dark;
        }
    }
    img[src$="pause.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $pause-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $pause-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $pause-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $pause-image-dark;
        }
    }

}