@import './variables';

$link-path: 'M3,17V19H9V17H3M3,5V7H13V5H3M13,21V19H21V17H13V15H11V21H13M7,9V11H3V13H7V15H9V9H7M21,13V11H11V13H21M15,9H17V7H21V5H17V3H15V9Z';
$link-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $link-path +"' /%3E%3C/svg%3E");
$link-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $link-path +"' /%3E%3C/svg%3E");


.icon-link {
    &.icon-xlg {
        content: $link-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $link-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $link-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $link-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="setting.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $link-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $link-image-light;
        content: $link-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $link-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $link-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $link-image-dark;
    }
    .icon-link {
        &.icon-xlg {
            content: $link-image-dark;
        }
        &.icon-lg {
            content: $link-image-dark;
        }
        &.icon-md {
            content: $link-image-dark;
        }
        &.icon-sm {
            content: $link-image-dark;
        }
    }
    img[src$="setting.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $link-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $link-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $link-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $link-image-dark;
        }
    }

}