@import './variables';

$credentials-new-domain-path: 'M18,15H16V17H18M18,11H16V13H18M20,19H12V17H14V15H12V13H14V11H12V9H20M10,7H8V5H10M10,11H8V9H10M10,15H8V13H10M10,19H8V17H10M6,7H4V5H6M6,11H4V9H6M6,15H4V13H6M6,19H4V17H6M12,7V3H2V21H22V7H12Z';
$credentials-new-domain-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $credentials-new-domain-path +"' /%3E%3C/svg%3E");
$credentials-new-domain-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $credentials-new-domain-path +"' /%3E%3C/svg%3E");


.icon-credentials-new-domain {
    &.icon-xlg {
        content: $credentials-new-domain-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $credentials-new-domain-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $credentials-new-domain-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $credentials-new-domain-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="credentials-new-domain.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $credentials-new-domain-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $credentials-new-domain-image-light;
        content: $credentials-new-domain-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $credentials-new-domain-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $credentials-new-domain-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $credentials-new-domain-image-dark;
    }
    .icon-credentials-new-domain {
        &.icon-xlg {
            content: $credentials-new-domain-image-dark;
        }
        &.icon-lg {
            content: $credentials-new-domain-image-dark;
        }
        &.icon-md {
            content: $credentials-new-domain-image-dark;
        }
        &.icon-sm {
            content: $credentials-new-domain-image-dark;
        }
    }
    img[src$="credentials-new-domain.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $credentials-new-domain-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $credentials-new-domain-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $credentials-new-domain-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $credentials-new-domain-image-dark;
        }
    }

}