$icon-color-light: green;
$icon-color-dark: green;

$clock-path: 'M8,5.14V19.14L19,12.14L8,5.14Z';
$clock-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='4 4 16 16'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+$clock-path+"' /%3E%3C/svg%3E");
$clock-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='4 4 16 16'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+$clock-path+"' /%3E%3C/svg%3E");


img.icon-hourglass {
    content: $clock-image-light;
}

// .icon-clock-anime,
.icon-clock {
    &.icon-xlg {
        content: $clock-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $clock-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $clock-image-light;
        transform: scale(.7);
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
    }
    &.icon-sm {
        content: $clock-image-light;
    }
}
img[src$="clock.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $clock-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $clock-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $clock-image-light;
        transform: scale(.7);
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $clock-image-light;
    }
}

// .icon-clock-anime {
//   .spinning-build-image();
// }

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $clock-image-dark;
    }

    .icon-clock-anime,
    .icon-clock {
        &.icon-xlg {
            content: $clock-image-dark;
        }
        &.icon-lg {
            content: $clock-image-dark;
        }
        &.icon-md {
            content: $clock-image-dark;
        }
        &.icon-sm {
            content: $clock-image-dark;
        }
    }
    img[src$="clock.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $clock-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $clock-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $clock-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $clock-image-dark;
        }
    }

    // .icon-clock-anime {
    //   .spinning-build-image();
    // }
}