@import './variables';

$folder-path: 'M1,9H3V7H1V9M1,13H3V11H1V13M1,5H3V3A2,2 0 0,0 1,5M9,21H11V19H9V21M1,17H3V15H1V17M3,21V19H1A2,2 0 0,0 3,21M21,3H13V9H23V5A2,2 0 0,0 21,3M21,17H23V15H21V17M9,5H11V3H9V5M5,21H7V19H5V21M5,5H7V3H5V5M21,21A2,2 0 0,0 23,19H21V21M21,13H23V11H21V13M13,21H15V19H13V21M17,21H19V19H17V21Z';
$folder-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $folder-path +"' /%3E%3C/svg%3E");
$folder-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $folder-path +"' /%3E%3C/svg%3E");


.icon-folder {
    &.icon-xlg {
        content: $folder-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $folder-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $folder-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $folder-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="folder.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $folder-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $folder-image-light;
        content: $folder-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $folder-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $folder-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $folder-image-dark;
    }
    .icon-folder {
        &.icon-xlg {
            content: $folder-image-dark;
        }
        &.icon-lg {
            content: $folder-image-dark;
        }
        &.icon-md {
            content: $folder-image-dark;
        }
        &.icon-sm {
            content: $folder-image-dark;
        }
    }
    img[src$="folder.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $folder-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $folder-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $folder-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $folder-image-dark;
        }
    }

}