@import './variables.scss';

$device-path: 'M21,11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1L21,5V11M12,21C15.75,20 19,15.54 19,11.22V6.3L12,3.18L5,6.3V11.22C5,15.54 8.25,20 12,21M12,6A3,3 0 0,1 15,9C15,10.31 14.17,11.42 13,11.83V14H15V16H13V18H11V11.83C9.83,11.42 9,10.31 9,9A3,3 0 0,1 12,6M12,8A1,1 0 0,0 11,9A1,1 0 0,0 12,10A1,1 0 0,0 13,9A1,1 0 0,0 12,8Z';
$device-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='4 4 16 16'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+$device-path+"' /%3E%3C/svg%3E");
$device-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='4 4 16 16'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+$device-path+"' /%3E%3C/svg%3E");


.icon-device {
    content: $device-image-light;
    &.icon-xlg {
        content: $device-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $device-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $device-image-light;
        transform: scale(.7);
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
    }
    &.icon-sm {
        content: $device-image-light;
    }
}
img[src$="device-24x24.png"] {
    content: $device-image-light;
    transform: scale(.7);
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);

    &[width="48"], &[src*="/48x48/"] {
        content: $device-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $device-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $device-image-light;
        transform: scale(.7);
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $device-image-light;
    }
}

@media (prefers-color-scheme: dark) {


    .icon-device {
        &.icon-xlg {
            content: $device-image-dark;
        }
        &.icon-lg {
            content: $device-image-dark;
        }
        &.icon-md {
            content: $device-image-dark;
        }
        &.icon-sm {
            content: $device-image-dark;
        }
    }
    img[src$="device-24x24.png"] {
        content: $device-image-dark;
        
        &[width="48"], &[src*="/48x48/"] {
            content: $device-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $device-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $device-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $device-image-dark;
        }
    }
}