@import './variables';

$credentials-credentials-path: 'M6.5,2C8.46,2 10.13,3.25 10.74,5H22V8H18V11H15V8H10.74C10.13,9.75 8.46,11 6.5,11C4,11 2,9 2,6.5C2,4 4,2 6.5,2M6.5,5A1.5,1.5 0 0,0 5,6.5A1.5,1.5 0 0,0 6.5,8A1.5,1.5 0 0,0 8,6.5A1.5,1.5 0 0,0 6.5,5M6.5,13C8.46,13 10.13,14.25 10.74,16H22V19H20V22H18V19H16V22H13V19H10.74C10.13,20.75 8.46,22 6.5,22C4,22 2,20 2,17.5C2,15 4,13 6.5,13M6.5,16A1.5,1.5 0 0,0 5,17.5A1.5,1.5 0 0,0 6.5,19A1.5,1.5 0 0,0 8,17.5A1.5,1.5 0 0,0 6.5,16Z';
$credentials-credentials-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-light +"' d='"+ $credentials-credentials-path +"' /%3E%3C/svg%3E");
$credentials-credentials-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $icon-color-dark +"' d='"+ $credentials-credentials-path +"' /%3E%3C/svg%3E");


.icon-credentials-credentials {
    &.icon-xlg {
        content: $credentials-credentials-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &.icon-lg {
        content: $credentials-credentials-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-md {
        content: $credentials-credentials-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &.icon-sm {
        content: $credentials-credentials-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
img[src$="credentials-credentials.png"] {
    &[width="48"], &[src*="/48x48/"] {
        content: $credentials-credentials-image-light;
        transform: scale(.9);
        -ms-transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    &[width="32"], &[src*="/32x32/"] {
        content: $credentials-credentials-image-light;
        content: $credentials-credentials-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="24"], &[src*="/24x24/"] {
        content: $credentials-credentials-image-light;
        transform: scale(.8);
        -ms-transform: scale(.8);
        -webkit-transform: scale(.8);
    }
    &[width="16"], &[src*="/16x16/"] {
        content: $credentials-credentials-image-light;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {

    img.icon-hourglass {
        content: $credentials-credentials-image-dark;
    }
    .icon-credentials-credentials {
        &.icon-xlg {
            content: $credentials-credentials-image-dark;
        }
        &.icon-lg {
            content: $credentials-credentials-image-dark;
        }
        &.icon-md {
            content: $credentials-credentials-image-dark;
        }
        &.icon-sm {
            content: $credentials-credentials-image-dark;
        }
    }
    img[src$="credentials-credentials.png"] {
        &[width="48"], &[src*="/48x48/"] {
            content: $credentials-credentials-image-dark;
        }
        &[width="32"], &[src*="/32x32/"] {
            content: $credentials-credentials-image-dark;
        }
        &[width="24"], &[src*="/24x24/"] {
            content: $credentials-credentials-image-dark;
        }
        &[width="16"], &[src*="/16x16/"] {
            content: $credentials-credentials-image-dark;
        }
    }

}