#breadcrumbBar {
  margin-left: 360px;
  padding-top: 10px;
  background: transparent;
}
#breadcrumbBar .top-sticker-inner {
  background: transparent;
}
#breadcrumbBar ul#breadcrumbs {
  border-bottom: none;
}

#side-panel {
  position: relative;
  top: -40px;
}

.tabBar .tab a { 
    border: none
}

@media (prefers-color-scheme: dark) {
  body {
    background-color:rgba(22, 23, 25, 1);
    color: #eee;
  }
  
  p, a, li {
    color: #fff; 
  }
  
  #jenkins .task-link {
    text-transform: uppercase;
    color: #ddd;
  }
  
  #jenkins .task-link:hover {
    color: #fff;
  }
  
  .tabBar .tab.active a {
    background-color: #000;
  }
  
  
}
