@media (prefers-color-scheme: dark) {

    #breadcrumbs li,
    #breadcrumbs li a:link, 
    #breadcrumbs li a:visited {
        color: #ddd !important;
    }

    #breadcrumbs li:hover, 
    .breadcrumbBarAnchor.mouseIsOverMenuSelector {
        background-color:transparent !important;
        color: #fff;
    }

    
}