@import './variables.scss';

footer {
    background-color: $background-color-light;

    #footer {
        background-color: $background-color-light-alternate-1;
    }
    a {
        color: $anchor-color-light !important;
        text-decoration: none !important;

        :hover {
            text-decoration: underline !important;
        }
    }
}

@media (prefers-color-scheme: dark) {
    footer {
        background-color: $background-color-dark;
        
        #footer {
            background-color: $background-color-dark-alternate-1;
        }

        a {
            color: $anchor-color-dark !important;
            text-decoration: none;
        }
    }
}