#header {
  .login {
    a, a:visited {
      text-transform: uppercase;
    }
  }

  #search-box {
    height: 28px;
    box-shadow: none;
    padding-left: 25px;
  }

  .icon-help {
    display: none;
  }
} 
