@import './variables';

#main-panel {
    background-color: transparent;

    .tabBarFrame {
        .tabBar {
            top: 0;
            & [type=radio]:checked ~ a {
                background-color: $background-color-light-alternate;
            }

            a:hover {
                background-color: $background-color-light-alternate-1;
            }

            .tab {
                a {
                    color: $font-color-light;
                }
            }
        }
    }

    .pane-frame {
        #projectstatus {
            .header {
                th {
                    background-color: $background-color-light-alternate !important;

                    a {
                        color: $font-color-light;
                    }
                }
            }
        }
    }

    .bigtable {
        border: 1px solid $background-color-light-alternate;

        th {
            background-color: $background-color-light-alternate;
        }

        tr {
            border: 0;
        }

        tr:nth-child(odd) {
            background-color: $background-color-light-alternate-1;
        }

        tr:hover {
            background-color: $background-color-light-alternate-2;
        }
    }

    .bottom-sticker-edge,
    .bottom-sticker-inner {
        background-color: transparent;
        background-image: none;
    }
}

@media (prefers-color-scheme: dark) {
    #main-panel {
        background-color: transparent;

        .tabBarFrame {
            .tabBar {
                & [type=radio]:checked ~ a {
                    background-color: $background-color-dark-alternate;
                }

                a:hover {
                    background-color: $background-color-dark-alternate-1;
                }

                .tab {
                    a {
                        color: $font-color-dark;
                    }
                }
            }
        }

        .pane-frame {
            #projectstatus {
                .header {
                    th {
                        background-color: $background-color-dark-alternate !important;

                        a {
                            color: $font-color-dark;
                        }
                    }
                }
            }
        }

        .bigtable {
            border: 1px solid $background-color-dark-alternate !important;
    
            th {
                background-color: $background-color-dark-alternate;

                a {
                    color: $font-color-dark;
                }
            }

            tr {
                border: 0;
            }

            tr:nth-child(odd) {
                background-color: $background-color-dark-alternate-1;
            }

            tr:hover {
                background-color: $background-color-dark-alternate-2;
            }
        }
    }
}