#side-panel {
    position: relative;
    top: 40px;
    min-height: 100%;
    padding: 0;

    #tasks {
        width: 360px;
        margin: 15px 0 0 0;

        .task {
            margin: 0 !important;
            padding: 5px 15px;
            max-width: 100%;

            .task-link {
                text-transform: uppercase;

                &:hover,
                &:visited {
                    text-decoration: none !important;
                }
            }

        }
        .subtasks {
            margin-top: 4px;
        }
    }

    .pane-frame {
        margin: 15px 0 0 0;
        border: 0;

        &.mouseover,
        &:hover {
            border: 0 !important;
        }

        .row {
            .pane-header {
                padding: 10px 15px;

                a {
                    text-decoration: none;
                }
            }
        }

        .pane-footer{
            a {
                text-decoration: none;
            }
        }

        .pane-content {
            .pane {
                padding: 5px 10px !important;

                &.build-name a, 
                &.build-name a:visited {
                    text-decoration: none;
                }

                &.build-details a, 
                &.build-details a:visited {
                    top: 0 !important;
                    margin-top: 0 !important;
                    text-decoration: none;
                }

                .build-row.transitive {
                    .build-row-cell {
                        .build-details {
                            max-height: 30px;
                            position: relative;
                            top:-13px;
                        }

                        .build-controls {
                            max-height: 30px;
                            position: relative;
                            top:0px;

                            .build-stop {
                                position: relative;
                                top: -15px;
                            }
                        }

                        // & > div {
                        //     max-height: 30px;
                        //     background-color: yellowgreen;
                        //     position: relative;
                        //     top:-20px;
                        // }
                    }
                }
            }

            .cell {
                padding: 10px 30px;
            }
        }
    }
 
}