#side-panel {
    position: relative;
    top: -40px;

    #tasks {
        .task-link {
            text-transform: uppercase;

            :hover,
            :visited {
                text-decoration: none !important;
            }
        }

        .subtasks {
            padding-left: 2em;
            margin-top: 4px;
        }
    }
}