@import './variables';

#side-panel {
    background-color: $background-color-light-alternate-1;
    .task-link {
        color: $font-color-light;
        
        :hover,
        :visited {
            color: $font-color-light;
        }
    }

    #tasks {
        .task {
            &:hover {
                background-color: $background-color-light;
            }
        }
    }


    .pane-frame {
        // border: solid 1px $background-color-light-alternate;
        border-radius: 0;
        &.mouseover,
        &:hover {
            // border: solid 1px $background-color-light-alternate;
        }

        .pane-footer,
        .pane-header,
        .pane-header a {
            background-color: $background-color-light-alternate;
            border-radius: 0px !important;
            border: none;
            color: $font-color-light;
        }
        .pane-content {
            .pane {
                padding: 10px 15px;

                &.build-name a, 
                &.build-name a:visited {
                    color: $font-color-light;
                }

                &.build-details a, 
                &.build-details a:visited {
                    color: $font-color-light;
                }
            }
        }

    }
    td.pane {
        color: $font-color-light;
    }
}

@media (prefers-color-scheme: dark) {
    #side-panel {
        background-color: $background-color-dark-alternate-1;
        .task-link {
            color: $font-color-dark;
            
            :hover,
            :visited {
                color: $font-color-dark;
            }
        }

        #tasks {
            .task {
                &:hover {
                    background-color: $background-color-dark;
                }
            }
        }

        .pane-frame {
            // border: solid 1px $background-color-dark-alternate;
            border-radius: 0;
            &.mouseover,
            &:hover {
                // border: solid 1px $background-color-dark-alternate;
            }
    
            .pane-footer,
            .pane-header,
            .pane-header a {
                background-color: $background-color-dark-alternate;
                border-radius: 0px !important;
                border-bottom: none;
                color: $font-color-dark;
            }

            .pane-content {
                .pane {
                    padding: 10px 15px;
    
                    &.build-name a, 
                    &.build-name a:visited {
                        color: $font-color-dark;
                    }
    
                    &.build-details a, 
                    &.build-details a:visited {
                        color: $font-color-dark;
                    }
                }
            }
        }
        td.pane {
            color: $font-color-dark;
        }
    }
}