@import './variables';

body {
    background-color: $background-color-light;
}

body, table, form, td, th, p {
    color: $font-color-light; 
}

a {
    &:visited,
    &:link {
        color: $anchor-color-light;
    }

}

table.stripped-odd tr:nth-child(odd),
table.stripped tr:nth-child(odd) {
    background: $background-color-light-alternate;
}

table.stripped tr:nth-child(even) {
    background: transparent !important;
}

table.stripped tr:hover, 
table.stripped-even tr:hover, 
table.stripped-odd tr:hover {
    background: $background-color-light-alternate-2;
}

table.sortable span.sortarrow {
    color: $font-color-light;
}

#menuSelector {
    color: $font-color-light !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-color-dark;
    }
    body, table, form, td, th, p, label {
        color: $font-color-dark !important; 
    }

    a {
        &:visited,
        &:link {
            color: $anchor-color-dark;
        }
    
    }

    table.stripped-odd tr:nth-child(odd),
    table.stripped tr:nth-child(odd) {
        background: $background-color-dark-alternate;
    }

    table.stripped tr:nth-child(even) {
        background: transparent !important;
    }

    table.stripped tr:hover, 
    table.stripped-even tr:hover, 
    table.stripped-odd tr:hover {
        background: $background-color-dark-alternate-2 !important;
    }

    table.sortable span.sortarrow {
        color: $font-color-dark;
    }

    #menuSelector {
        color: $font-color-dark !important;
    }
     
}