.top-sticker {
    position: fixed !important;
    top: 40px !important;
    left: 360px !important;
}

#breadcrumbBar {
    .top-sticker-inner {
        background: transparent;
    }
    
    ul#breadcrumbs {

        li,
        li:hover,
        li a,
        li a:hover {
            background-color: transparent !important;
        }
    }    
}


.yui-skin-sam {
    .yuimenu {
        .bd {
            a {
                text-transform: uppercase;
            }
        }
    }
}