#main-panel {
    #add-item-panel {
        form {
            > .header,
            .categories, 
            .item-copy,
            .footer {
                background-color: transparent !important;
                border: 0px;
            }

            .j-item-options {
                li {
                    &:hover,
                    &:focus {
                        background: transparent !important;
                    }
                }

                li.active {
                    background: transparent !important;
                    box-shadow: none;
                }

                .icon {
                    background: transparent;
                    border: none;

                    &:before {
                        background: transparent;
                        border: none;
                    }
                }

            }

            .footer {
                .btn-decorator {
                    border: 0;
                    background: transparent;
                    position: relative !important; 
                }
            }

        }
    }
}

