@import './_variables.scss';


$blue-icon-color-light: green;
$blue-icon-color-dark: green;

$blue-path: 'M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z';
$blue-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $blue-icon-color-light +"' d='"+ $blue-path +"' /%3E%3C/svg%3E");
$blue-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $blue-icon-color-dark +"' d='"+ $blue-path +"' /%3E%3C/svg%3E");

$red-icon-color-light: red;
$red-icon-color-dark: red;

$red-path: 'M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z';
$red-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $red-icon-color-light +"' d='"+ $red-path +"' /%3E%3C/svg%3E");
$red-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='"+ $red-icon-color-dark +"' d='"+ $red-path +"' /%3E%3C/svg%3E");


#pipeline-box {

    .table-box {
        overflow: scroll;

        tr td {
            border: 0px !important;
        }
        .table-viewPort {
            box-shadow: none !important;
            border: 0px !important;
        }

        tr.header th {
            border: 0px !important;
            border-bottom: 0px !important;
            padding: 5px 0 !important;

            &.stage-start {
                background: $background-color-light !important;
                min-height: 70px !important;
            }
        }
        .table-viewPort {
            tr.totals {
                .cell-color {
                    background-color: $background-color-light-alternate !important;
                    box-shadow: none !important;
                    color: $font-color-light !important;
                    .duration {
                        text-shadow: none;
                    }
                }
                .stage-start {
                    background: $background-color-light !important;
                    margin: 0 !important;

                    .cell-color {
                        background-color: $background-color-light-alternate !important;
                        color: $font-color-light !important;
                        box-shadow: none;
                        text-shadow: none;
                        z-index:10;
                        margin: 0 0 0 !important;
                    }
                }
            }
            .stage-wrapper {
                min-width: 5em !important;
                min-height: 5em !important;
                position: relative;
                top: -2em;

            }
        }
    }

    .tobsTable-body {
        .job.FAILED,
        .job.SUCCESS,
        .job.NOT_EXECUTED {
            .stage-start {
                background-color: $background-color-light;
                z-index:10;

                .cell-color {
                    background-color: $background-color-light;
                }

                .jobName .badge {
                    background-color: gray;
                    text-shadow: none;
                    a {
                        text-decoration: none;
                    }
                }
            }
            .stage-cell {
                border: 0;
                text-shadow: none;
                min-width: 7em;
                .cell-color {
                    margin: 0 auto;
                    overflow: visible;
                    width: 25px;
                    min-height: 10px;
                    height: 25px;
                    border-radius: 50%;
                    
                    &:hover {
                        width: 35px;
                        height: 35px;
                        border: 5px solid gray;
                    }

                    .stage-wrapper {
                        border: 0;
                        margin: 0 auto;
                        
                        .duration {
                            box-shadow: none;
                            position: relative;
                            white-space: nowrap;
                            top: 5px;
                            text-align: left;
                            left: -0.5em;
                            padding: 0;
                            margin: 0 auto;
                        }
                        &:hover {
                           box-shadow: none; 
                        }
                    }
                }

            }
        }
        
        .job.SUCCESS {
            .stage-start {
                .jobName .badge {
                    background-color: green;
                }
            }
            .stage-cell {
                .cell-color {
                    &:before {
                        content: $blue-image-light;
                    }
                }
            }
        }

        .job.NOT_EXECUTED,
        .job.FAILED {
            .stage-start {
                .jobName .badge {
                    background-color: red;
                }
            }
            .stage-cell {
                &.FAILED {
                    .cell-color {
                        &:before {
                            content: $red-image-light;
                        }
                    }
                    .stage-wrapper {
                        box-shadow: none !important;

                        .duration {
                            background: none;

                            
                        }
                        .status {
                            display: none;
                        }
                    }
                }

                &.SUCCESS {
                    .cell-color {
                        &:before {
                            content: $blue-image-light;
                        }
                    }
                }
            }
        }
    }
}


.cbwf-dialog {
    border-radius: 0px !important;
    background-color: $background-color-light !important;
    border: 0px !important;
    padding: 30px 0 20px;

    .header {
        background-color: $background-color-light !important;
        text-transform: uppercase;
        font-size: 2em !important;
    }

    .body {
        
        .node-log-frame{

            .node-name {
                padding: 0px;
                border: 1px solid gray;
                border-radius: 0;
                .log-link {
                    text-decoration: none;
                }
                .glyphicon {
                    background-color: gray;
                    padding: 7px 3px;
                    color: white
                }
            }
            &.SUCCESS {
                .node-name {
                    background-color: $background-color-light !important;

                    .glyphicon{
                        background-color: green;
                    }
                }
            }

            &.FAILED {
                .node-name {
                    background-color: $background-color-light !important;

                    .glyphicon{
                        background-color: red;
                    }
                }
            }

            .cbwf-stage-logs .log-details {
                background-color: $background-color-light !important;

                .console-output {
                    background: repeating-linear-gradient(transparent, transparent 20px, rgba(0, 0, 0, 0.05) 20px, rgba(0, 0, 0, 0.05) 40px);
                }
            }
        }
    }

    
}

.alert {
    

    .caption {
        text-shadow: none;
        color: white;
    }

    .btn-toolbar .btn-group {
        margin: 10px 0 0 0  !important;

        .btn.stage-logs {
            min-width: 100% !important;
        }
    }

    &:before {
        border-right: 10px solid transparent !important;
        border-left: 10px solid transparent !important;
        bottom: -18px !important;
        left: 0 !important;

    }


    &.alert-success {
        background-color: green !important;
        border-color:green !important;

        &:before {
            border-top: 10px solid green !important;
        }

        

    }

    &.alert-danger {
        background-color: red !important;
        border-color:red !important;
        &:before {
            border-top: 10px solid red !important;
        }

    }
}